<nav class="p-6 bg-black">
    <div class="container flex flex-wrap items-center justify-between mx-auto">
      <p class="flex items-center">
        <span class="self-center text-xl font-semibold whitespace-nowrap text-white">Online Voting</span>
      </p>
      <div class="w-auto">
        <ul class="flex">
          <li>
            <a href="/signout" class="block px-4 text-white rounded ">Sign out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>